// colors
$darkGrey: #353635;
$grey: #ededed;
$lightGrey: #fafafa;
$yellow: #FFE9A0;
$red: #CC3636;
$orange: #F57328;
$green: #367E18;
$offWhite: #f8faf7;
$white: #ffffff;

$shadowColor: rgba(0, 0, 0, 0.1);
// fonts
$quicksand: "Quicksand";